.title{
    text-align: center;
    margin-top: 100px;
   font-size: 50px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box{
    width: 30%;
    float: left;
    
}
.head{
    font-size: 20px;
    color: rgb(15, 199, 199);
}
.writer{
    color: grey;
    margin-top: 10px;
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    margin-top: 10px;
}